.category-element img{
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.category-element li{
    list-style: none;
    padding-right: 10px;
}

.category-element p{
    text-align: center;
}
