.carousel-item {
  >img {
    height: 500px;
    object-fit: cover;
    object-position: center;
  }
}
.carousel-container {
  margin-bottom: 20px;
}
.carousel-caption {
  p {
    &:first-child {
      font-size: 40px;
    }
    &:last-child {
      font-size: 25px;
    }
  }
}
