.nav-item a{
  text-decoration: none;
  color: black;
  font-weight: 600;
  text-transform: capitalize;
  margin-right: 15px;
  transition: all 0.4s;
}

.nav-item a:hover{
  color:lightcoral;
}

.navbar-brand{
  height: 50px;
  width: 100px;
}

.nav-icons{
  width: 20px;
}

.navbar-brand img{
  width: 110px;
}

