<div class="mt-5 mb-5">
  <div>
    <div>
      <h2 class="ps-3 text-left text-head">Sobre Nosotros</h2>
    </div>
    <div>
      <h3 class="ps-3 text-left text-second mb-5 pt-5">THE FUTURE BEGINS WITH US</h3>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <img class="banner-image" src="../../assets/img/about.jpg" alt="logo">
      </div>
      <div class="col-6 banner-text">
        <p>Zalora nace en septiembre de 2018 como la respuesta a la necesidad de tanta gente de vestir con una ropa
          cómoda y de diseño sin importar si estás en la oficina o tomando unas cañas con amigos. Eso sí, con el
          compromiso y requisito de otorgar la máxima comodidad. Todos nuestros procesos creativos implican al cliente
          final a través de cuestionarios y métodos inclusivos. La idea es simple: nosotros te ofrecemos las prendas que
          quieres, tú las compras.</p>
      </div>
    </div>
    <div class="mb-5 mt-5">
      <h2 class="ps-3 text-left text-head">NUESTROS MANDAMIENTOS</h2>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="banner-card p-4">
          <h3 class="text-center">MINIMALISMO</h3>
          <p>Buscamos experimentar y estar a la vanguardia con nuestros materiales, pero manteniendo un equilibrio
            perfecto entre estética y funcionalidad. Menos es más. Siempre.</p>
        </div>
      </div>
      <div class="col-4">
        <div class="banner-card p-4">
          <h3 class="text-center">CONFORT</h3>
          <p> De nada sirve crear un diseño atractivo si no es cómodo. Nuestra comodidad ya es conocida en más de 50
            países con más de 400.000 pares vendidos. </p>
        </div>
      </div>
      <div class="col-4">
        <div class="banner-card p-4">
          <h3 class="text-center">CONCIENCIA</h3>
          <p> Todos nuestros productos son veganos y cuentan con el sello PETA. Además, estamos implementando nuevos
            métodos sostenibles como materiales reciclados o reciclables. Para saber más, pincha aquí.</p>
        </div>
      </div>
    </div>
    <div class="mb-5 mt-5 text-center">
      <h3>SOMOS DISEÑO. SOMOS COMODIDAD. SOMOS COMPROMISO.</h3>
    </div>
  </div>
</div>

