.not-available button {
  text-decoration: line-through;
  color: red;
}

.product-image-big img {
  width: 500px;
  filter: opacity(0.9) drop-shadow(0 0 0 lightgrey);
}

.product-size-selector {
  display: flex;
}

.product-size-button button {
  margin-right: 5px;
  text-transform: none;
  border: 1px solid #000;
  min-height: 30px;
  min-width: 60px;
  background-color: black;
  color: white;
}

.discount-old {
  text-decoration: line-through;
  margin-right: 10px;
}

.discount-new {
  color: red;
}

.product-buy button {
  width: 40%;
  height: 60px;
  background-color: black;
  color: white;
}

.product-buy span:last-child {
  font-size: 18px;
  color: #e5d1ec;
  font-weight: bold;
}

.product-buy img {
  width: 30px;
  filter: invert(19%) sepia(85%) saturate(4434%) hue-rotate(328deg) brightness(97%) contrast(106%);
}

.product-price span:last-child{
  font-size: 25px;
}
