<div *ngIf="categoryDisplay$|async; else loading" class="category-element">
  <ul class="mx-auto d-flex justify-content-center align-items-center ps-0 gap-2">
    <li *ngFor="let category of categoryDisplay$ |async">
      <a [routerLink]="['/collections', category.id]">
        <div class="product-image">
          <img [src]="category.image" alt="category-image"/>
          <p>{{ category.category }}</p>
        </div>
      </a>
    </li>
  </ul>
</div>

<ng-template #loading>
  <div class="spinner-grow spinner-grow-sm"></div>
</ng-template>


